@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans");
@import url("https://fonts.googleapis.com/cs2?family=Bebas+Neue");
@import url("https://fonts.googleapis.com/css2?family=Poppins");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,500&display=swap");

@font-face {
  font-family: "JetBrains";
  src: url("../fonts/JetBrains-Regular.ttf");
  src: url("../fonts/JetBrainsMono-Regular.woff2");
}

@font-face {
  font-family: "FuturaMedium";
  src: url("../fonts/futuraMedium.ttf");
}

@font-face {
  font-family: "FuturaLight";
  src: url("../fonts/FuturaLight.otf");
}

body {
  margin: 0;
  padding: 0;
  font-family: Hack, "JetBrainsMono", "JetBrains", sans-serif;
  font-size: 16px;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.Compiler {
  top: 5vh;
  height: auto;
  width: 95%;
  position: absolute;
  display: flex;
  flex-direction: column;
}

.Compiler .Title {
  align-self: center;
  position: relative;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 40% 40%;
  margin-left: 10%;
  margin-right: 10%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  border-radius: 15px;
  height: 5vh;
  width: 25%;
  color: white;
  background-color: rgb(0, 0, 0);
  box-shadow: 0px 0px 40px 5px rgba(255, 0, 255, 0.3);
}

.Compiler .Title img {
  position: relative;
  height: 55%;
  width: auto;
}

.Compiler .CodeArea {
  position: relative;
  display: flex;
  margin-top: 5vh;
  border-radius: 15px;
  height: 75vh;
  width: calc(100vw * 90%);
  max-width: calc(100vw * 90%);
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  background: rgba(255, 101, 252, 0.6);
}

.Compiler textarea {
  resize: none;
  position: relative;
  border: none;
  border-radius: 15px;
  max-height: fit-content;
  height: 94%;
  width: 97.5%;
  padding: 15px;
  font-family: Hack, "JetBrainsMono", "JetBrains", sans-serif;
  font-size: 14px;
  background-color: RGBA(40, 42, 54, .95);
  color: RGB(248, 248, 242);
}

.Compiler textarea:focus {
  outline: none;
  caret-color: turquoise;
}

.RunComment {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  right: 3%;
  top: 5%;
  height: fit-content;
  width: 8%;
  border-radius: 15px;
  box-shadow: 0 0 10px .5px rgb(64, 0, 255);
  -webkit-user-drag: true;
}

#windows,
#macos {
  position: relative;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
  color: rgba(255, 255, 255, .6);
  transition: all .25s ease-in-out;
}

#windows:hover,
#macos:hover {
  color: rgba(255, 255, 255, 1);
}

.RunComment ion-icon {
  position: relative;
  font-size: calc(.5em + 1vw);
}

.RunComment p {
  position: relative;
  font-size: calc(.4em + .3vw);
  padding: 2%;
}

.Terminal {
  z-index: 99;
  left: 20%;
  resize: both;
  position: absolute;
  height: 60%;
  width: 75%;
  display: grid;
  grid-template-rows: 10% 90%;
  grid-template-columns: 100%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  background-color: rgba(255, 0, 251, 0.65);
  border-radius: 15px;
  scale: 0;
  display: none;
}

.active {
  scale: 1;
  display: grid;
}

.Terminal .Header {
  position: relative;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 5% 95%;
  height: 100%;
  width: 100%;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  cursor: pointer;
}
.Terminal .Header ion-icon {
  position: relative;
  font-size: calc(.3em + .5vw);
  padding: 3px;
  background-color: rgb(255, 0, 0);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 100%;
  transition: all .25s ease-in-out;
}

.Terminal .Header ion-icon:hover {
  box-shadow: 0 0 10px 1px rgb(255, 255, 255);
}

.Terminal textarea {
  resize: none;
  position: relative;
  border: none;
  border-radius: 10px;
  max-height: fit-content;
  margin-bottom: 2%;
  height: 93%;
  width: 96.4%;
  font-family: Hack, "JetBrainsMono", "JetBrains", sans-serif;
  font-size: 14px;
  background-color:black;
  color: white;
}