*,*::after,*::before {
    box-sizing: border-box
}

@font-face {
    font-family: "FK Grotesk Neue";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/fk-grotesk-neue-regular.woff2") format("woff2"),url("../fonts/fk-grotesk-neue-regular.woff") format("woff")
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility
}

html.is-transitioning {
    pointer-events: none !important
}

html.is-transitioning * {
    pointer-events: none !important
}

body {
    line-height: 1
}

a {
    color: inherit;
    outline: none;
    text-decoration: none
}

button,input,select,textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    outline: none;
    padding: 0
}

button {
    cursor: pointer
}

ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
    content: "";
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

canvas {
    left: 0;
    position: fixed;
    top: 0;
    transform: translateZ(0)
}

html.lenis,html.lenis body {
    height: auto
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain
}

.lenis.lenis-stopped {
    overflow: hidden
}

.lenis.lenis-scrolling iframe {
    pointer-events: none
}

.project__media__image,.about__media__image {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.headerLogoMedia {
    height: auto;
    bottom: 0;
    position: absolute;
    width: 70%;
    left: 0;
}

body {
    background: #000;
    color: #fff
}

canvas {
    pointer-events: none
}

@media(max-width: 768px) {
    canvas {
        visibility:hidden
    }
}

html {
    font-family: "FK Grotesk Neue";
    font-size: .5208333333vw;
    overflow: hidden auto
}

@media(max-width: 768px) {
    html {
        font-size:3.125vw
    }
}

img:not([src]),video:not([src]) {
    visibility: hidden
}

@media(min-width: 769px) {
    [data-gl-media][data-gl-media-active] {
        opacity:0
    }
}

@media(min-width: 769px) {
    [data-gl-text][data-gl-text-active] {
        color:rgba(0,0,0,0)
    }
}

::-webkit-scrollbar {
    width: 1px
}

::-webkit-scrollbar-track {
    background: #000
}

::-webkit-scrollbar-thumb {
    background: #fff
}

::-moz-selection {
    color: #000;
    background: #fff
}

::selection {
    color: #000;
    background: #fff
}

.header {
    font-size: 1.8rem;
    height: 100vh;
    height: 100svh;
    position: relative;
    text-transform: uppercase;
    width: 100%
}

@media(max-width: 768px) {
    .header {
        font-size:1rem
    }
}

.headerWrapper {
    display: flex;
    justify-content: space-between;
    left: 2.5rem;
    position: absolute;
    top: 2.5rem;
    width: calc(100% - 5rem)
}

@media(max-width: 768px) {
    .headerWrapper {
        border:1px solid;
        border-radius: 5px;
        flex-direction: column;
        gap: 1.5rem;
        height: calc(100% - 2rem);
        justify-content: flex-start;
        left: 13rem;
        padding: 1rem;
        top: 1rem;
        width: calc(100% - 14rem)
    }
}

@media(max-width: 768px) {
    .headerCol:last-child {
        bottom:-0.5rem;
        left: 1rem;
        position: absolute
    }
}

.headerTitle {
    font-size: 5rem;
    letter-spacing: -0.25rem;
    padding-right: 2rem
}

@media(max-width: 768px) {
    .headerTitle {
        font-size:3rem;
        letter-spacing: -0.15rem;
        padding-right: .15rem
    }
}

.headerYear {
    font-size: 8rem;
    letter-spacing: -0.25rem;
    margin-top: 10rem;
    padding-right: .25rem
}

@media(max-width: 768px) {
    .headerYear {
        bottom:.5rem;
        font-size: 5rem;
        position: absolute;
        right: 1rem
    }
}

.header__shape {
    font-size: 4.2rem;
    letter-spacing: -0.1rem;
    margin-top: -0.45rem;
    padding-right: .1rem
}

@media(max-width: 768px) {
    .header__shape {
        font-size:11.3rem
    }
}

.headerLogo {
    aspect-ratio: 2940/567;
    bottom: 2.5rem;
    font-size: 0;
    left: 2.5rem;
    position: absolute;
    width: calc(100svw - 5rem);
    height: auto;
}

@media(max-width: 768px) {
    .headerLogo {
        bottom:1rem;
        left: 1rem;
        max-height: 11rem;
        transform: rotate(90deg) translateX(-100%);
        transform-origin: bottom left;
        width: calc(100svh - 2rem)
    }
}

.headerLogoMedia {
    -o-object-fit: cover;
    object-fit: cover;
}

@media(max-width: 768px) {
    .headerLogoMedia {
        -o-object-fit:contain;
        object-fit: contain;
    }
}

.about {
    margin: 2.5rem
}

@media(max-width: 768px) {
    .about {
        margin:1rem;
    }
}

.about__introduction {
    font-size: 6rem;
    letter-spacing: -0.25rem;
    padding-right: .25rem
}

.about__introduction p {
    margin-top: 1em
}

@media(max-width: 768px) {
    .about__introduction {
        font-size:2rem;
        letter-spacing: -0.1rem
    }

    .about__introduction br {
        display: none
    }
}

.about__content {
    display: flex;
    justify-content: space-between;
    margin-top: 10rem
}

@media(max-width: 768px) {
    .about__content {
        flex-direction:column-reverse;
        gap: 1rem;
        margin-top: 5rem
    }
}

.about__content__column {
    width: calc(50% - 2.5rem)
}

@media(max-width: 768px) {
    .about__content__column {
        width:100%
    }

    .about__content__column:last-child {
        display: flex;
        flex-direction: column-reverse
    }
}

.about__information {
    display: flex;
    justify-content: space-between;
    font-size: 2.4rem;
    letter-spacing: -0.1rem;
    line-height: 1.2;
    padding-right: .1rem
}

@media(max-width: 768px) {
    .about__information {
        font-size:1.4rem;
        letter-spacing: -0.05rem
    }
}

.about__information__column {
    width: 33.33%
}

@media(max-width: 768px) {
    .about__information__column {
        width:50%
    }

    .about__information__column:last-child {
        display: none
    }
}

.about__media {
    aspect-ratio: 1;
    border-radius: 5px;
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%
}

.about__media__image {
    -o-object-fit: cover;
    object-fit: cover
}

.about__brands {
    margin-top: 6.5rem
}

@media(max-width: 768px) {
    .about__brands {
        margin-bottom:2.5rem;
        margin-top: 0
    }
}

.about__brands__title {
    font-size: 2.4rem;
    letter-spacing: -0.05rem;
    padding-right: .05rem
}

@media(max-width: 768px) {
    .about__brands__title {
        font-size:1.2rem
    }
}

.about__brands__description {
    font-size: 4rem;
    line-height: 1.2;
    letter-spacing: -0.25rem;
    margin-top: 3.5rem;
    padding-right: .25rem
}

@media(max-width: 768px) {
    .about__brands__description {
        font-size:2rem;
        letter-spacing: -0.15rem;
        line-height: 1.1;
        margin-top: 1rem
    }

    .about__brands__description br {
        display: none
    }
}

.about__credits {
    display: inline-block;
    font-size: 2.4rem;
    letter-spacing: -0.1rem;
    line-height: 1.2;
    margin-top: 2.5rem;
    padding-right: 1.5rem
}

@media(max-width: 768px) {
    .about__credits {
        font-size:1.4rem;
        letter-spacing: -0.05rem
    }
}

.projects {
    margin-top: 20rem;
    padding-bottom: .1px
}

@media(max-width: 768px) {
    .projects {
        margin-top:10rem
    }
}

.project {
    margin: 2.5rem
}

@media(max-width: 768px) {
    .project {
        margin:1rem
    }
}

.project__header {
    border: 1px solid rgba(0,0,0,0);
    border-radius: 5px;
    display: flex;
    height: 59rem;
    justify-content: space-between;
    margin-bottom: 2.5rem;
    position: relative
}

@media(max-width: 768px) {
    .project__header {
        border-color:#fff;
        flex-direction: column;
        height: auto;
        margin-bottom: 1rem
    }
}

.project__header__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 2.5rem;
    position: relative
}

@media(max-width: 768px) {
    .project__header__content {
        padding:1.5rem
    }
}

.project__headerTitle {
    font-size: 5rem;
    letter-spacing: -0.25rem;
    padding-right: .25rem;
    text-transform: uppercase
}

@media(max-width: 768px) {
    .project__headerTitle {
        font-size:3rem;
        letter-spacing: -0.15rem
    }
}

.project__header__description {
    font-size: 4rem;
    letter-spacing: -0.25rem;
    line-height: 1.2;
    padding-right: .25rem;
    margin-top: auto
}

@media(max-width: 768px) {
    .project__header__description {
        font-size:1.6rem;
        letter-spacing: -0.1rem;
        margin-top: 2.5rem
    }

    .project__header__description br {
        display: none
    }
}

.project__header__information {
    font-size: 1.8rem;
    position: absolute;
    right: 2.5rem;
    text-align: right;
    text-transform: uppercase;
    top: 2.5rem
}

@media(max-width: 768px) {
    .project__header__information {
        font-size:1rem;
        margin-bottom: 1rem;
        position: static;
        text-align: left
    }
}

.project__header__link {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding: 2.5rem;
    text-transform: uppercase;
    white-space: nowrap
}

@media(max-width: 768px) {
    .project__header__link {
        border-top:1px solid;
        padding: 0;
        transition: background .4s ease
    }

    .project__header__link:hover {
        background: rgba(255,255,255,.5)
    }
}

.project__header__link__text {
    display: inline-block;
    font-size: 10rem;
    letter-spacing: -0.25rem;
    padding-right: 1rem
}

@media(max-width: 768px) {
    .project__header__link__text {
        font-size:3rem;
        letter-spacing: -0.15rem;
        padding: 1.5rem 1.5rem 1rem
    }
}

.project__content {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem
}

@media(max-width: 768px) {
    .project__content {
        gap:1rem
    }
}

.project__media {
    aspect-ratio: 1920/1080;
    border-radius: 5px;
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%
}

.project__media--50 {
    aspect-ratio: 1;
    width: calc(50% - 1.25rem)
}

@media(max-width: 768px) {
    .project__media--50 {
        width:calc(50% - .5rem)
    }
}

.project__media__image {
    -o-object-fit: cover;
    object-fit: cover
}

