@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: 'Zweig';
  src: url('../fonts/Zweig.ttf') format('truetype');
}

@font-face {
  font-family: 'Zweig-italic';
  src: url('../fonts/Zweig-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Blur';
  src: url('../fonts/Blur\ Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Agrandir';
  src: url('../fonts/Agrandir-Regular.otf') format('opentype');
}

.dark-theme {
  --clr-foreground: rgb(255, 255, 255);
  --clr-background: rgb(2, 0, 3);
}

.light-theme {
  --clr-foreground: hsl(0 0% 5%);
  --clr-background: hsl(0, 0%, 100%);
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Hack', 'JetBrains Mono', 'JetBrains', sans-serif;
  overflow: hidden;
  height: auto;
  width: 100vw;
  transition: scroll 0 ease-in-out;
}


/* #SubTitle {
  color: rgb(218, 1, 218);
  font-weight: 700;
  font-family: 'Hack', 'JetBrains Mono', 'JetBrains', sans-serif;
  font-size: 1.3em;
  position: relative;
  max-width: 60vw;
  margin-bottom: 0;
} */

.Title {
  color: var(--clr-foreground);
  position: relative;
  margin-top: 12%;
  max-width: 75vw;
  position: relative;
  align-self: center;
  text-align: center;
  align-items: center;
  justify-self: center;
  transition: .6s;
  height: auto;
}

.Title h1{
  font-family: "FuturaMedium";
  font-size: 10em;
  font-weight: 400;
  align-self: center;
  text-align: center;
  align-items: center;
  justify-self: center;
  line-height: 1px;
  transition: .6s;
}

.Title h3{
  font-family: 'Zweig-italic';
  font-size: 2em;
  font-weight: 400;
  align-self: center;
  text-align: center;
  align-items: center;
  justify-self: center;
  transition: .6s;
  opacity: 1;
}

.Title h3:hover{
  opacity: 0.5;
}

@media screen and (max-width: 930px){
  .Title {
    margin-top: 25%;
  }

  .Title h3 {
    font-size: 1.5em;
  }
}

.Main {
  position: relative;
  display: flex;
  margin-top: 5%;
  width: 100vw;
  min-height: 45vh;
  height: max-content;
  position: relative;
  align-items: center;
  justify-content: center;
  transition: .6s;
}

.MainContainer{
  display: flex;
  height: auto;
  width: 100%;
  position: relative;
  align-items: center;
  justify-content: center;
  transition: .6s;
  border-radius: 20px;
  justify-content: center;
}

.MainContainer .SocialPreview{
  position: absolute;
  top: 0;
  display: flex;
  background-color: rgb(10, 10, 30);
  margin-top: -3%;
  width: 85%;
  height: 100%;
  justify-content: center;
  align-items: center;
  border-radius: inherit;
  transition: all .3s ease-in-out;
}

@keyframes flash {
  0% {
    filter: brightness(100%);
  }
  
  10% {
    filter: brightness(0%);
  }
  
  100% {
    filter: brightness(100%);
  }

}

.SocialPreview #SocialPreviewCard{
  position: relative;
  display: flex;
  width: 20%;
  height: 25%;
  margin-bottom: 15%;
  background-color: black;
  align-items: center;
  justify-content: center;
  border-radius: inherit;
}

.SocialPreview #SocialPreviewImg{
  position: relative;
  width: 80%;
  height: 80%;
  border-radius: inherit;
  transition: all .3s ease-in-out;
}

.MainContainer .BkGround{
  width: 100%;
  z-index: -1;
}

.SocialsPanel {
  position: absolute;
  display: flex;
  top: 4%;
  right: 10%;
  width: 40%;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  align-content: center;
  justify-content: space-around;
  border-radius: 20px;
  padding: 5px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.SocialsPanel .Social {
  position: relative;
  margin-top: 1%;
  width: auto;
  height: 100%;
  font-size: 1.2em;
  color: white;
  transition: .3s;
  font-family: "Agrandir";
}

.SocialsPanel .Social:hover {
  color: grey;
}

#Tdes {
  position: relative;
  text-align: center;
  width: 60vw;
  height: auto;
  line-height: 5px;
  color: var(--clr-foreground);
  font-family: 'Hack', 'JetBrains Mono', 'JetBrains', sans-serif;
  transition: 1s;
}

.info {
  position: fixed;
  z-index: -1;
  top: 0;
  width: auto;
  height: 10vh;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-items: center;
  z-index: 1000000000;
  font-size: 1.6em;
  color: var(--clr-foreground);
  font-family: 'Hack', 'JetBrains Mono', 'JetBrains', sans-serif;
  padding: 10px;
  transition: 1s;
  font-weight: 500;
}



#time {
  position: relative;
  opacity: 0.5;
}

#version {
  position: relative;
  opacity: 0.4;
  font-size: 1.2em;
}

@media screen and ( max-width: 930px){
  #version {
    font-size: .5rem;
    width: fit-content;
    margin-left: 25%;
  }
}

#word {
  font-family: 'Hack', 'JetBrains Mono', 'JetBrains', sans-serif;
  /* font-size: 2rem; */
  z-index: 1000000000;
  background: none;
  border: none;
  transition: 1s;
}

/*================= Login ==================*/
.Login {
  position: fixed;
  width: 100vw;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.btnLogin-popup {
  position: absolute;
  width: 25vw;
  min-width: 25%;
  height: 18vh;
  background: transparent;
  border: 5px solid #ae00ff;
  outline: pointer;
  border-radius: 3vw;
  cursor: pointer;
  font-size: 3.5vw;
  color: #ae00ff;
  font-family: 'Hack', 'JetBrains Mono', 'JetBrains', sans-serif;
  font-weight: 700;
  transition: 0.4s;
}

.btnLogin-popup:hover {
  background: #ae00ff;
  color: white;
}

.wrapper {
  position: absolute;
  top: 25%;
  width: 35vw;
  height: 50vh;
  background: transparent;
  border: 4px solid rgba(131, 131, 131, 0.1);
  border-radius: 2.5vw;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0, 0, 0);
  transform: translateZ(0);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease;
}

.active-popup {
  visibility: visible;
  transform: scale(1);
}

.wrapper .form-box {
  width: 100%;
  padding: 7vw;
}

.wrapper .icon-close {
  position: absolute;
  top: 2vh;
  right: 1vw;
  width: 5vw;
  height: 4vw;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.wrapper .icon-close:hover {
  color: #ae00ff;
}

.form-box h2 {
  font-size: 2rem;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 6vh;
  border-bottom: 3px solid;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-60%);
  font-size: 1rem;
  font-weight: 500;
  pointer-events: none;
  color: var(--clr-foreground);
  font-family: 'Hack', 'JetBrains Mono', 'JetBrains', sans-serif;
  transition: 0.3s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: 5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--clr-foreground);
  font-family: 'Hack', 'JetBrains Mono', 'JetBrains', sans-serif;
}

.input-box input:focus {
  border-bottom: 2px solid #ae00ff;
}

.remember label input {
  accent-color: #ae00ff;
  margin-right: 10px;
}

.btn {
  width: 100%;
  height: 6vh;
  background: #ae00ff;
  border: none;
  outline: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 1rem;
  color: var(--clr-foreground);
  font-weight: 600;
}

.Dark {
  display: flex;
  background-color: black;
  align-content: center;
  height: 500px;
}

#loggin {
  font-family: 'Hack', 'JetBrains Mono', 'JetBrains', sans-serif;
  font-size: 1.5rem;
  color: white;
}

/*================= NavTab ==================*/
.LoggedInPage {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.btnloggout {
  font-size: 1.5rem;
  width: fit-content;
  border: 0;
  background: transparent;
  cursor: pointer;
  position: fixed;
  top: 10vh;
  color: #ae00ff;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-family: 'Hack', 'JetBrains Mono', 'JetBrains', sans-serif;
}

.btnloggout:hover {
  color: var(--clr-foreground);
}

/*================= BLOB ==================*/

:root {
  --color-bg1: #5b0088;
  --color-bg2: #003ba8;
  --color1: 0, 142, 255;
  --color2: 107, 0, 255;
  --color3: 0, 230, 255;
  --color4: 200, 0, 0;
  --color5: 247, 255, 0;
  --circle-size: 80%;
  --blending: hard-light;
}

/* @keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }

  50% {
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
  }

  100% {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
    -webkit-transform: translateX(-50%) translateY(-10%);
  }

  50% {
    transform: translateX(50%) translateY(10%);
    -webkit-transform: translateX(50%) translateY(10%);
  }

  100% {
    transform: translateX(-50%) translateY(-10%);
    -webkit-transform: translateX(-50%) translateY(-10%);
  }
} */
/* 
@keyframes rotate {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@keyframes ballDeformation {
  0% {
    border-radius: 100% 100% 100% 100%;
  }
  25% {
    border-radius: 90% 40% 40% 90%;
  }
  50% {
    border-radius: 40% 100% 80% 40%;
  }
  75% {
    border-radius: 60% 40% 40% 60%;
  }
  100% {
    border-radius: 50% 50% 50% 50%;
  }
}

*/

.blob {
  z-index: -1;
  height: 90vh;
  width: 90vh;
  position: absolute;
  align-self: center;
  justify-self: center;
  overflow: hidden;
}

/*

.FrontBk {
  overflow: hidden;
  background: linear-gradient(87deg, var(--color-bg1), var(--color-bg2));
  filter: blur(20px);
  -webkit-filter: blur(20px);

  animation: rotate 10s linear infinite;
  -webkit-animation: rotate 10s linear infinite;
  animation: rotate 30s linear infinite, ballDeformation 5s ease-in-out infinite;
  -webkit-animation: rotate 30s linear infinite, ballDeformation 5s ease-in-out infinite; */


/* svg {
    display: none;
  }

  .gradients-container {
    z-index: -1;
    filter: url(#goo) blur(20px);
    height: 40vh;
    width: 50vh;
  }

  .g1 {
    z-index: -1;
    position: absolute;
    background: radial-gradient(circle at center,
        rgba(var(--color1), 0.8) 0,
        rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center center;
    animation: moveVertical 5s ease infinite; 
    -webkit-animation: moveVertical 5s ease infinite;

    opacity: 1;
  }

  .g2 {
    z-index: -1;
    position: absolute;
    background: radial-gradient(circle at center,
        rgba(var(--color2), 0.8) 0,
        rgba(var(--color2), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 2.5s reverse infinite; 
    -webkit-animation: moveInCircle 2.5s reverse infinite; 

    opacity: 1;
  }

  .g3 {
    z-index: -1;
    position: absolute;
    background: radial-gradient(circle at center,
        rgba(var(--color3), 0.8) 0,
        rgba(var(--color3), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 5s linear infinite; 
    -webkit-animation: moveInCircle 5s linear infinite; 

    opacity: 1;
  }

  .g4 {
    z-index: -1;
    position: absolute;
    background: radial-gradient(circle at center,
        rgba(var(--color4), 0.8) 0,
        rgba(var(--color4), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 12.5s ease infinite; 
    -webkit-animation: moveHorizontal 12.5s ease infinite;

    opacity: 1;
  }

  .g5 {
    z-index: -1;
    position: absolute;
    background: radial-gradient(circle at center,
        rgba(var(--color5), 0.8) 0,
        rgba(var(--color5), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));

    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 7.5s ease infinite; 
    -webkit-animation: moveInCircle 7.5s ease infinite;

    opacity: 1;
  } */
/* } */

.social {
  z-index: 100;
  position: relative;
  display: flex;
  height: min-content;
  width: min-content;
}

/*=================-- Mobile --==================*/
@media screen and (max-width: 930px) {
  .horizontal-grid .social {
    font-size: 5vw;
  }

  h2 {
    font-size: 3vw;
  }

  .info {
    top: 10vh;
    opacity: 0.5;
    font-size: 3vw;
  }

  #Tdes {
    line-height: normal;
    bottom: calc((100vh / 100vw) * 20);
  }

  #Tdes #sub {
    font-size: 1.5vw;
  }

  #SubTitle {
    font-size: 3vw;
  }

  #Title {
    font-size: 20vw;
  }

  #separatorHead {
    width: 100px;
  }

  .sideBar .icon {
    font-size: 1.2em;
  }

  .blob {
    height: 100vw;
    width: 100vw;
  }

  .wrapper {
    width: 70vw;
  }

  .btnloggout {
    font-size: 4vw;
  }
}


@media screen and (max-height: 600px) {
  .sideBar {
    width: 65vw;
  }

  #Tdes {
    visibility: hidden;
  }

  @keyframes slideOutSB {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-70vw);
    }
  }

  @keyframes slideInSB {
    from {
      transform: translateX(-70vw);
    }

    to {
      transform: translateX(0);
    }
  }
}

#socialSelector {
  position: absolute;
  width: 80%;
  height: 80%;
  background-color: transparent;
  transition: all 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
}

.social:hover #socialSelector {
  visibility: visible;
  opacity: 1;
  background: linear-gradient(87deg, var(--color-bg1), var(--color-bg2));
  filter: blur(20px);
  -webkit-filter: blur(20px);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform: translateZ(0);
  backface-visibility: hidden;
  perspective: 1000;
  transform: translate3d(0, 0, 0);
  transform: translateZ(0);
}

#snippetFallback {
  position:absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  background-color: transparent;
  overflow: hidden;
}

.fallbackContainer {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 5% 90%;
  grid-template-columns: 100%;
  justify-content: center;
  align-items: center;
  background-color: transparent;
}

.fallbackContainer #fallbackHeader {
  position: relative;
  align-items: center;
  justify-content: left;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 10% 80%;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  color: black;
  cursor: alias;
}

@media screen and (max-width: 930px) {
  .fallbackContainer #fallbackHeader {
    grid-template-columns: 20% 80%;
  }
}

.fallbackContainer #iconFallback {
  position: relative;
  align-items: center;
  display: flex;
  top: 0;
  left: 0;
  width: auto;
  height: 65%;
}

.fallbackContainer #fallbackHeader #title {
  position: relative;
  font-size: .9em;
  font-weight: 700;
  font-family: 'Hack', 'JetBrains Mono', 'JetBrains', sans-serif;
  align-items: center;
  justify-content: left;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fallbackContainer #fallbackImg {
  position: relative;
  height: 300px;
  width: 50%;
  max-width: 300px;
  display: flex;
  align-self: center;
  justify-self: center;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  padding: 15px;
  font-size: 6em;
  background-color: white;
  color: black;
  cursor: alias;
}

.fallbackContainer #fallbackImg:hover {
  transform: scale(1.05);
  box-shadow: 0 0 50px 10px rgba(255, 255, 255, 0.5);
}

.fallbackContainer #fallbackImg img{
  width:60%;
  height: auto;
  object-fit: contain;
}