:root {
  --clr-foreground: hsl(0 0% 100%);
  --clr-background: hsl(281, 35%, 9%);
}

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans");

@import url("https://fonts.googleapis.com/cs2?family=Bebas+Neue");

@import url("https://fonts.googleapis.com/css2?family=Poppins");

@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P");

@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,500&display=swap");

@font-face {
  font-family: "JetBrains";
  src: url("../fonts/JetBrains-Regular.ttf");
  src: url("../fonts/JetBrainsMono-Regular.woff2");
}

@font-face {
  font-family: "FuturaMedium";
  src: url("../fonts/futuraMedium.ttf");
}

@font-face {
  font-family: "FuturaLight";
  src: url("../fonts/FuturaLight.otf");
}

@font-face {
  font-family: "PressStart2P";
  src: url("../fonts/PressStart2P-Regular.ttf");
}

/*================= Themes ==================*/
@media (prefers-color-scheme: dark) {
  :root {
    --clr-foreground: hsl(0, 0%, 100%);
    --clr-background: hsl(281, 35%, 9%);
  }
}

.DarkMode {
  z-index: 1000000000;
}

.dark-theme {
  --clr-foreground: hsl(0, 0%, 100%);
  --clr-background: hsl(270, 15%, 4%);
}

.light-theme {
  --clr-foreground: hsl(0 0% 5%);
  --clr-background: hsl(0, 0%, 100%);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--clr-background);
}

::-webkit-scrollbar-thumb {
  background: rgba(140, 0, 255, 0.3);
  border-radius: 20px;
}

#theme-toggle {
  cursor: pointer;
  top: 1rem;
  background: 0;
  border: 0;
  position: fixed;
  isolation: isolate;
  right: 1rem;
}

#theme-toggle svg {
  fill: var(--clr-foreground);
}

#theme-toggle::before {
  content: "";
  position: absolute;
  inset: 0;
  background: hsl(0 0% 50% / 0.2);
  border-radius: inherit;
  transform: scale(0);
  opacity: 0;
  z-index: -1;
}

#theme-toggle::after {
  content: attr(aria-label);
  position: fixed;
  color: var(--clr-foreground);
  background: var(--clr-foreground);
  width: max-content;
  font-size: 1.5rem;
  left: 0;
  right: 0;
  top: 95%;
  margin: 0 auto;
  padding: 0.5em 1em;
  border-radius: 0.125em;
  opacity: 0;
  transform: scale(0);
  transform-origin: top;
  transition:
    transform 0ms linear 100ms,
    opacity 100ms linear;
}

.toggle-circle {
  fill: var(--clr-background);
  transition: transform 500ms ease-out;
}

.light-theme .toggle-circle {
  transform: translate(-34%, 40%);
}

.toggle-sun {
  fill: var(--clr-foreground);
  transition: transform 500ms ease-out;
}

/*========================================================*/

html {
  display: flex;
  scroll-behavior: smooth;
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  background: var(--clr-background);
  color: var(--clr-foreground);
  overflow: hidden;
  transition: 0.2s;
}

h1 {
  font-size: 18vw;
  font-family: "FuturaMedium";
}

h2 {
  font-size: 2vw;
  font-family: "JetBrains Mono", "JetBrains";
}

h4 {
  font-size: 1.2vw;
  font-family: "JetBrains Mono", "JetBrains";
}

h5 {
  font-size: rem;
  font-family: "JetBrains Mono", "JetBrains";
}

a {
  text-decoration: none;
  color: var(--clr-foreground);
  text-decoration-color: white;
}

.Front {
  height: 98vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.dark-theme .logoAt {
  filter: brightness(0) invert(1);
}

.light-theme .logoAt {
  filter: brightness(0);
}

#Logo {
  width: 8vw;
  min-width: 110px;
  max-width: 160px;
  left: 2vw;
  top: 0vh;
  z-index: 1;
  position: fixed;
  transition: 1s;
}

#SubTitle {
  color: rgb(218, 1, 218);
  font-weight: 700;
  font-family: "JetBrains Mono", "JetBrains";
  position: static;
  max-width: 60vw;
}

#Title {
  max-width: 65vw;
  position: static;
  text-align: center;
  align-items: center;
  justify-self: center;
  line-height: 1px;
  transition: .6s;
}

#Tdes {
  bottom: 10vh;
  left: calc((100vw - 65vw) / 2);
  position: static;
  text-align: center;
  width: 65vw;
  height: auto;
  line-height: 10px;
  color: var(--clr-foreground);
  position: fixed;
  font-family: "JetBrains Mono", "JetBrains";
  transition: 1s;
}

.info {
  position: fixed;
  z-index: -1;
  top: 0;
  width: auto;
  height: 10vh;
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  justify-items: center;
  z-index: 1000000000;
  font-size: 1.6em;
  color: var(--clr-foreground);
  font-family: "JetBrains Mono", "JetBrains";
  padding: 10px;
  transition: 1s;
  font-weight: 500;
}

#time {
  position: relative;
  top: 1.8rem;
  opacity: 0.5;
}

#version {
  position: relative;
  top: 1.8rem;
  opacity: 0.4;
}

#word {
  font-family: "JetBrains Mono", "JetBrains";
  /* font-size: 2rem; */
  background: none;
  border: none;
  transition: 1s;
}

/*================= NavApps ==================*/
.sideBar {
  z-index: 1000000001;
  position: absolute;
  height: 95vh;
  width: 15vw;
  min-width: fit-content;
  left: 1vw;
  top: calc((100vh - 95vh) / 2);
  border-radius: 20px;
  display: flex;
  align-items: top;
  justify-content: center;
  background: rgb(53, 0, 106);
  background: -moz-linear-gradient(180deg, rgba(53, 0, 106, 1) 0%, rgba(0, 78, 106, 1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(53, 0, 106, 1) 0%, rgba(0, 78, 106, 1) 100%);
  background: linear-gradient(180deg, rgba(53, 0, 106, 1) 0%, rgba(0, 78, 106, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#35006a", endColorstr="#004e6a", GradientType=1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  font-family: "JetBrains Mono", "JetBrains";
  border: 1px outset rgba(255, 255, 255, 0.6);
  display: grid;
  grid-template-rows: min-content min-content min-content auto calc((95vh / 5) * 3);
}

.sideBar .sideBarHead {
  display: grid;
  grid-template-columns: 50% auto auto auto;
  grid-template-rows: auto;
  width: 90%;
  height: min-content;
  margin: 20px 10px 10px 5%;
}

.sideBar .icon {
  font-size: 1.1rem;
  padding: 7px;
  cursor: pointer;
  border-radius: 10px;
  transition: 0.2s;
  color: white;
  align-items: center;
  justify-content: center;
  display: flex;
}

.sideBar .icon:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.sideBar .pinnedIcons {
  margin-top: 2vh;
  top: 0;
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: auto auto auto;
  width: 100%;
  height: min-content;
}

.sideBar .pinnedIcon {
  position: relative;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  top: 0;
  left: 0;
  font-size: 1.1rem;
  padding: 20% 30% 20% 30%;
  margin: auto;
  cursor: alias;
  border-radius: 10px;
  transition: 0.3s;
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
}

.sideBar .pinnedIcon:hover {
  background-color: rgba(34, 34, 34, 0.7);
}

.sideBar .searchBox {
  position: relative;
  font-size: .8rem;
  margin: auto;
  width: 95%;
  height: 4vh;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  opacity: .6;
  transition: 0.4s;
}

.sideBar .searchBox:hover {
  background-color: rgba(34, 34, 34, 0.7);

  opacity: 1;
}

.sparat {
  opacity: 1;
  margin-right: 20px;
  font-size: .7rem;
  height: min-content;
  color: white;
  opacity: 0.3;
  transition: 0.4s;
}

.sparat:hover {
  opacity: 1;
}


.hgrid-1x2-SB-segT {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: min-content min-content;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  height: min-content;
}

/*================= Grid ==================*/
.grid {
  display: grid;
  position: static;
  grid-template-rows: 50px;
}

.Hgrid-2x1 {
  display: grid;
  grid: repeat(1, auto) / auto-flow 60px;
  align-items: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

.horizontal-grid-social {
  position: fixed;
  bottom: 1.5vh;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 5vh;
}

.horizontal-grid-social .social {
  font-size: 2rem;
  max-width: 5vw;
  min-width: 3vw;
  margin: 12vw;
  cursor: wait;
  transition: 1s;
}

/*================= Login ==================*/
.Login {
  position: fixed;
  width: 100vw;
  height: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.btnLogin-popup {
  position: absolute;
  width: 25vw;
  min-width: 25%;
  height: 18vh;
  background: transparent;
  border: 5px solid #ae00ff;
  outline: pointer;
  border-radius: 3vw;
  cursor: pointer;
  font-size: 3.5vw;
  color: #ae00ff;
  font-family: "JetBrains Mono", "JetBrains";
  font-weight: 700;
  transition: 0.4s;
}

.btnLogin-popup:hover {
  background: #ae00ff;
  color: white;
}

.wrapper {
  position: absolute;
  top: 25%;
  width: 35vw;
  height: 50vh;
  background: transparent;
  border: 4px solid rgba(131, 131, 131, 0.1);
  border-radius: 2.5vw;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  visibility: hidden;
  transform: scale(0);
  transition: transform 0.3s ease;
}

.active-popup {
  visibility: visible;
  transform: scale(1);
}

.wrapper .form-box {
  width: 100%;
  padding: 7vw;
}

.wrapper .icon-close {
  position: absolute;
  top: 2vh;
  right: 1vw;
  width: 5vw;
  height: 4vw;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}

.wrapper .icon-close:hover {
  color: #ae00ff;
}

.form-box h2 {
  font-size: 2rem;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 6vh;
  border-bottom: 3px solid;
  margin: 30px 0;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-60%);
  font-size: 1rem;
  font-weight: 500;
  pointer-events: none;
  color: var(--clr-foreground);
  font-family: "JetBrains Mono", "JetBrains";
  transition: 0.3s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: 5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 500;
  color: var(--clr-foreground);
  font-family: "JetBrains Mono", "JetBrains";
}

.input-box input:focus {
  border-bottom: 2px solid #ae00ff;
}

.remember label input {
  accent-color: #ae00ff;
  margin-right: 10px;
}

.btn {
  width: 100%;
  height: 6vh;
  background: #ae00ff;
  border: none;
  outline: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 1rem;
  color: var(--clr-foreground);
  font-weight: 600;
}

.Dark {
  display: flex;
  background-color: black;
  align-content: center;
  height: 500px;
}

#loggin {
  font-family: "JetBrains Mono", "JetBrains";
  font-size: 1.5rem;
  color: white;
}

/*================= NavTab ==================*/
.LoggedInPage {
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

#Notepad {
  display: flex;
  padding: 0 20% 0 20%;
  width: 100%;
  height: auto;
  z-index: -1;
}

.btnloggout {
  font-size: 1.5rem;
  width: fit-content;
  border: 0;
  background: transparent;
  cursor: pointer;
  position: fixed;
  top: 10vh;
  color: #ae00ff;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-family: "JetBrains Mono", "JetBrains";
}

.btnloggout:hover {
  color: var(--clr-foreground);
}

.active-page {
  animation: slideIn 700ms ease-in-out forwards;
}

.innactive-page {
  animation: slideOut 600ms ease-in-out 0.15s forwards;
}

.hidden {
  opacity: 0;
  visibility: hidden;
  transform: translateX(-150%);
}

.sideBarActive {
  animation: slideInSB 700ms ease-in-out forwards;
}

.sideBarInnactive {
  animation: slideOutSB 700ms ease-in-out forwards;
}

@keyframes menuSeleacted {
  from {
    transform: translateY(0);
    top: 50vh;
    padding: 30px 12px 30px 5px;
    border-radius: 0 25px 25px 0;
  }

  to {
    transform: translateY(-150%);
    top: 90vh;
    padding: 15px 40px 15px 40px;
    border-radius: 3px 3px 15px 15px;
    font-size: 1.7vw;
  }
}

@keyframes menuNoSeleacted {
  from {
    transform: translateY(-150%);
    top: 90vh;
    padding: 15px 40px 15px 40px;
    border-radius: 3px 3px 15px 15px;
  }

  to {
    transform: translateY(0);
    top: 50vh;
    padding: 30px 12px 30px 5px;
    border-radius: 0 25px 25px 0;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-250%);
    visibility: hidden;
  }
}

@keyframes slideIn {
  from {
    visibility: visible;
    transform: translateX(250%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideOutSB {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-20vw);
  }
}

@keyframes slideInSB {
  from {
    transform: translateX(-20vw);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes animate {
  from {
    transform: rotateX(-30deg) rotateY(0deg);
  }

  to {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

/*================= Loader ==================*/

.loader {
  position: fixed;
  z-index: 10000000099;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--clr-background);
  transition:
    opacity 0.65s,
    visibility 0.65s;
}

.loader-hidden {
  opacity: 0;
  visibility: hidden;
}

.cube {
  position: relative;
  width: 100px;
  height: 100px;
  transform-style: preserve-3d;
  animation: animate 1s linear infinite;
}

.cube div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
}

.cube div span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(var(--clr-foreground), #ae00ff);
  transform: rotateY(calc(90deg * var(--i))) translateZ(50px);
}

.top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background: var(--clr-foreground);
  transform: rotateX(90deg) translateZ(50px);
}

.top::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background: #ae00ff;
  transform: translateZ(-150px);
  -webkit-filter: blur(20px);
  filter: blur(20px);
  box-shadow:
    0 0 120px rgba(174, 0, 255, 0.2),
    0 0 200px rgba(174, 0, 255, 0.4),
    0 0 300px rgba(174, 0, 255, 0.6),
    0 0 400px rgba(174, 0, 255, 0.8),
    0 0 500px rgba(174, 0, 255, 1);
}

/*=======================-- BLOB --=====================*/
:root {
  --color-bg1: rgb(91, 0, 136);
  --color-bg2: rgb(0, 59, 168);
  --color1: 0, 142, 255;
  --color2: 107, 0, 255;
  --color3: 0, 230, 255;
  --color4: 200, 0, 0;
  --color5: 247, 255, 0;
  --circle-size: 80%;
  --blending: hard-light;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }

  50% {
    transform: translateY(50%);
    -webkit-transform: translateY(50%);
  }

  100% {
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
    -webkit-transform: translateX(-50%) translateY(-10%);
  }

  50% {
    transform: translateX(50%) translateY(10%);
    -webkit-transform: translateX(50%) translateY(10%);
  }

  100% {
    transform: translateX(-50%) translateY(-10%);
    -webkit-transform: translateX(-50%) translateY(-10%);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

.FrontBk {
  z-index: -1;
  height: 50vh;
  width: 60vh;
  position: fixed;
  overflow: hidden;
  background: linear-gradient(87deg, var(--color-bg1), var(--color-bg2));
  border-radius: 100%;
  filter: blur(120px);
  -webkit-filter: blur(120px);

  animation: rotate 20s linear infinite;
  -webkit-animation: rotate 20s linear infinite;

  svg {
    display: none;
  }

  .gradients-container {
    z-index: -1;
    filter: url(#goo) blur(20px);
    height: 40vh;
    width: 50vh;
  }

  .g1 {
    z-index: -1;
    position: absolute;
    background: radial-gradient(circle at center,
        rgba(var(--color1), 0.8) 0,
        rgba(var(--color1), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: center center;
    animation: moveVertical 10s ease infinite;
    -webkit-animation: moveVertical 10s ease infinite;

    opacity: 1;
  }

  .g2 {
    z-index: -1;
    position: absolute;
    background: radial-gradient(circle at center,
        rgba(var(--color2), 0.8) 0,
        rgba(var(--color2), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 400px);
    animation: moveInCircle 5s reverse infinite;
    -webkit-animation: moveInCircle 5s reverse infinite;

    opacity: 1;
  }

  .g3 {
    z-index: -1;
    position: absolute;
    background: radial-gradient(circle at center,
        rgba(var(--color3), 0.8) 0,
        rgba(var(--color3), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2 + 200px);
    left: calc(50% - var(--circle-size) / 2 - 500px);

    transform-origin: calc(50% + 400px);
    animation: moveInCircle 10s linear infinite;
    -webkit-animation: moveInCircle 10s linear infinite;

    opacity: 1;
  }

  .g4 {
    z-index: -1;
    position: absolute;
    background: radial-gradient(circle at center,
        rgba(var(--color4), 0.8) 0,
        rgba(var(--color4), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: calc(50% - var(--circle-size) / 2);
    left: calc(50% - var(--circle-size) / 2);

    transform-origin: calc(50% - 200px);
    animation: moveHorizontal 25s ease infinite;
    -webkit-animation: moveHorizontal 25s ease infinite;

    opacity: 1;
  }

  .g5 {
    z-index: -1;
    position: absolute;
    background: radial-gradient(circle at center,
        rgba(var(--color5), 0.8) 0,
        rgba(var(--color5), 0) 50%) no-repeat;
    mix-blend-mode: var(--blending);

    width: calc(var(--circle-size) * 2);
    height: calc(var(--circle-size) * 2);
    top: calc(50% - var(--circle-size));
    left: calc(50% - var(--circle-size));

    transform-origin: calc(50% - 800px) calc(50% + 200px);
    animation: moveInCircle 15s ease infinite;
    -webkit-animation: moveInCircle 15s ease infinite;

    opacity: 1;
  }
}

/*=================-- Mobile --==================*/
@media screen and (max-width: 900px) {
  .horizontal-grid .social {
    font-size: 5vw;
  }

  h2 {
    font-size: 3vw;
  }

  .info {
    top: calc(100vh - 90vh);
    opacity: 0.5;
    font-size: 4vw;
  }

  #Tdes {
    line-height: normal;
    bottom: calc((100vh / 100vw) * 20);
  }

  #Tdes #sub {
    font-size: 1.5vw;
  }

  #SubTitle {
    font-size: 3vw;
  }

  .FrontBk {
    height: 55vw;
    width: 40vw;
    filter: blur(70px);
    -webkit-filter: blur(70px);
  }

  .wrapper {
    width: 70vw;
  }

  .btnloggout {
    font-size: 4vw;
  }

  .sideBar {
    width: 50vw;
  }

  @keyframes slideOutSB {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-60vw);
    }
  }

  @keyframes slideInSB {
    from {
      transform: translateX(-60vw);
    }

    to {
      transform: translateX(0);
    }
  }
}

@media screen and (max-height: 500px) {
  .sideBar {
    width: 25vw;
  }

  #Tdes {
    visibility: hidden;
  }

  @keyframes slideOutSB {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-30vw);
    }
  }

  @keyframes slideInSB {
    from {
      transform: translateX(-30vw);
    }

    to {
      transform: translateX(0);
    }
  }
}
