:root{
    --clr-foreground: hsl(0 0% 100%);
    --clr-background: hsl(281, 35%, 9%);
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans');

@import url("https://fonts.googleapis.com/cs2?family=Bebas+Neue"); 

@import url('https://fonts.googleapis.com/css2?family=Poppins'); 

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P');

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@1,500&display=swap');

@font-face {
    font-family: "JetBrains";
    src: url("../fonts/JetBrainsMono-Regular.ttf");
}
@font-face {
    font-family: "FuturaMedium";
    src: url("../fonts/futuraMedium.ttf");
}
@font-face {
    font-family: "FuturaLight";
    src: url("../fonts/FuturaLight.otf");
}
@font-face {
    font-family: "PressStart2P";
    src: url("../fonts/PressStart2P-Regular.ttf");
}


/*================= Themes ==================*/
@media (prefers-color-scheme: dark){
    :root{
        --clr-foreground: hsl(0, 0%, 100%);
        --clr-background: hsl(281, 35%, 9%);
        }
}
.dark-theme{
    --clr-foreground: hsl(0, 0%, 100%);
    --clr-background: hsl(270, 15%, 4%);
}
.light-theme{
    --clr-foreground: hsl(0 0% 5%);
    --clr-background: hsl(0, 0%, 100%);
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background: var(--clr-background);
}
::-webkit-scrollbar-thumb{
    background: rgb(140, 0, 255);
    border-radius: 20px;
}
#theme-toggle {
    cursor: pointer;
    top: 1rem;
    background: 0;
    border: 0;
    position: absolute;
    isolation: isolate;
    right: 1rem;
}
#theme-toggle svg {
    fill: var(--clr-foreground);
} 
#theme-toggle::before {
    content: "";
    position: absolute;
    inset: 0;
    background: hsl(0 0% 50% / 0.2);
    border-radius: inherit;
    transform: scale(0);
    opacity: 0;
    z-index: -1;
}

#theme-toggle::after {
    content: attr(aria-label);
    position: absolute;
    color: var(--clr-foreground);
    background: var(--clr-foreground);
    width: max-content;
    font-size: 1.5rem;
    left: 0;
    right: 0;
    top: 95%;
    margin: 0 auto;
    padding: 0.5em 1em;
    border-radius: 0.125em;
    opacity: 0;
    transform: scale(0);
    transform-origin: top;
    transition: transform 0ms linear 100ms, opacity 100ms linear;
}
.toggle-circle {
    fill: var(--clr-background);
    transition: transform 500ms ease-out;
}
  
.light-theme .toggle-circle {
    transform: translate(-34%, 40%);
}
.toggle-sun {
    fill: var(--clr-foreground);
    transition: transform 500ms ease-out;
}

/*========================================================*/

html{
    display: flex;
    scroll-behavior: smooth;
    overflow: auto;
    overflow-x: hidden;
}
body{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    background: var(--clr-background);
    color: var(--clr-foreground);
}
h1{
    font-size: 15rem;
    font-family: "FuturaMedium";
}
h2 {
    font-size: 1.5rem;
    font-family: 'JetBrains Mono', monospace;}
h4 {
    font-size: 1.7rem;
    font-family: 'JetBrains Mono', monospace;}
a {
    text-decoration: none;
    color: var(--clr-foreground);
    text-decoration-color: white;
}

.Front {
    height: 98vh;
    display: flex;
    align-items: center;
}
.dark-theme .logoAt {
    filter: brightness(0)invert(1);
}
.light-theme .logoAt {
    filter: brightness(0);
}
#Logo {
    width: 7vw;
    min-width: 110px;
    max-width: 160px;
    left: 1vw;
    top: 0;
    position: fixed;
}
#SubTitle {
    color: rgb(218, 1, 218);
    position: static;
}
#Title {
    position: static;
    text-align: center;
    justify-self: center;
    height: auto;
    line-height: 1px;
}
#Tdes{
    position: static;
    width: 50vw;
}


/*================= Grid ==================*/
.grid {
    display: grid;
    position: static;
    grid-template-rows: 50px;
}

.horizontal-grid{
    position: fixed;
    bottom: 1.5vh;
    align-items: center;
    justify-content: center; 
    display: flex;
    width: 100%;
    height: 5vh;
}
 .horizontal-grid .social{
     font-size: 2.5rem;
     max-width: 10vw;
     min-width: 5vw;
     margin:  15vw;
     cursor: pointer;
    }

/*================= Login ==================*/
.Login{
    position: fixed;
    width: 100%;
    top: 50%;
    bottom: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.btnLogin-popup{
    width: 25vw;
    height: 18vh;
    background: transparent;
    border: 5px solid #ae00ff;
    outline: pointer;
    border-radius: 3vw;
    cursor: pointer;
    font-size: 2.5rem;
    color: #ae00ff;
    font-family: "JetBrains";
    font-weight: 700;
    transition: .4s;
}

.btnLogin-popup:hover{
    background: #ae00ff;
    color: white;
}
.wrapper {
    position: absolute;
    top: 30%;
    width: 34vw;
    height: 30vw;
    background: transparent;
    border: 4px solid rgba(131, 131, 131, 0.1);
    border-radius: 2.5vw;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    visibility: hidden;
    transform: scale(0);
    transition: transform .3s ease;
}

.active-popup {
    visibility: visible;
    transform: scale(1);
}

.wrapper .form-box {
    width: 100%;
    padding: 7vw;
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 5vw;
    height: 4vw;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}


.form-box h2{ 
    font-size: 2rem;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 6vh;
    border-bottom: 3px solid;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-60%);
    font-size: 1rem;
    font-weight: 500;
    pointer-events: none;
    color: var(--clr-foreground);
    font-family: "JetBrains";
    transition: .3s;
}

.input-box input:focus~label,
.input-box input:valid~label{
    top: 5px;
}


.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 500;
    color: var(--clr-foreground);
    font-family: 'JetBrains Mono', monospace;}

.input-box input:focus {
    border-bottom: 2px solid #ae00ff;
}

.remember label input {
    accent-color: #ae00ff;
    margin-right: 10px;
}

.btn {
    width: 100%;
    height: 6vh;
    background: #ae00ff;
    border: none;
    outline: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 1rem;
    color: var(--clr-foreground);
    font-weight: 600;
}

.Dark {
    display: flex;
    background-color: black;
    align-content: center;
    height: 500px;
}

#loggin{
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.5rem;
    color: white;
}

#word{
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.5rem;
    color: var(--clr-foreground);
    background: none;
    border: none;
}

/*================= Loader ==================*/

.loader{
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--clr-background);
    transition: opacity .65s, visibility .65s;
}

.loader-hidden{
    opacity: 0;
    visibility: hidden;
}

.cube{
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    animation: animate 1s linear infinite;
}

.cube div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube div span{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient( var(--clr-foreground), #ae00ff);
    transform: rotateY(calc(90deg * var(--i))) translateZ(50px);
}

.top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: var(--clr-foreground);
    transform: rotateX(90deg) translateZ(50px);
}

.top::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background: #ae00ff;
    transform: translateZ(-150px);
    -webkit-filter: blur(20px);
    filter: blur(20px);
    box-shadow: 0 0 120px rgba(174, 0, 255, 0.2),
    0 0 200px rgba(174, 0, 255, 0.4),
    0 0 300px rgba(174, 0, 255, 0.6),
    0 0 400px rgba(174, 0, 255, .8),
    0 0 500px rgba(174, 0, 255, 1),

}
/*================= NavTab ==================*/


.logoubttn{
    font-size: 2rem;
    background-color: transparent;
    position: fixed;
    border: 0;
    bottom: 7vw;
    bottom: 2vh;
    color: var(--clr-foreground);
    max-width: 10vw;
    min-width: 5vw;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.active-page{
    animation: slideIn 700ms ease-in-out forwards;
}

.innactive-page{
    animation: slideOut 600ms ease-in-out .15s forwards;
}

.hidden{
    opacity: 0;
    visibility: hidden;
    transform: translateX(-150%);
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-250%);
        visibility: hidden;
    }
}

@keyframes slideIn {
    from {
        visibility: visible;
        transform: translateX(250%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes animate {
    from {
        transform: rotateX(-30deg) rotateY(0deg);
    }
    to {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

