  @font-face {
    font-family: BebasNeue;
    src:url(fonts/BebasNeue-Regular.otf);
  }
  @font-face {
    font-family: FuturaLight;
    src:url(fonts/futuraLight.ttf);
  }
  @font-face {
    font-family: FuturaMedium;
    src:url(fonts/futuraMedium.ttf);
  }
  html{
    scroll-behavior: smooth;
    width: 100vw;
    max-width: 100%;
    height: 100vw;
  }
  body {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    margin: 0;
    animation: pulse 15s infinite;
    -webkit-animation: pulse 30s infinite;
  }
  h1 {
    font-size: 1.4vw;
  }
  .loader-container {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    background: black;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loader {
    height: auto;
    width: 75vw;
    animation: loader 30000ms linear infinite; 
    -webkit-animation: loader 3s linear infinite;
    z-index: 11000;
  }
  
/*-------------------------------------
    TOP SCREEN               
--------------------------------------*/
  .header {
    animation: FadeInContent 6s normal;
    -webkit-animation: FadeInContent 6s normal;
  }  

  .Title {
    display: flex;
    position: absolute;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    justify-content: center;
    border-radius: 0 0 0 0;
  }
  .logo {
    position: relative;
    top: 0;
    right: 0;
    padding-right: 4.8vw;
    padding-top: 1.20vw;
    height: 7vw;
    height: 5vh;
  }
  .logo_white {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 4.8vw;
    padding-top: 2vh;
    height: 10vh;
    padding-right: 5vw;
    padding-top: 2vh;
    height: 20vh;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
  }

  .emboss-txt {
    position: relative;
    font-size: 10vw;
    font-weight: 550;
    top: 25vh;
    font-family: BebasNeue;
    letter-spacing: 5px;
    color:rgb(255, 255, 255);
    text-shadow:
    0px 0px 1px rgb(116, 116, 116),
    0px 1px 1px rgb(116, 116, 116),
    0px 2px 1px rgb(116, 116, 116),

    1px 1px 1px rgb(116, 116, 116),
    1px 2px 1px rgb(116, 116, 116),
    1px 3px 1px rgb(116, 116, 116),

    2px 2px 1px rgb(116, 116, 116),
    2px 3px 1px rgb(116, 116, 116),
    2px 4px 1px rgb(116, 116, 116),

    3px 3px 1px rgb( 148, 148, 148),
    3px 4px 1px rgb(116, 116, 116),
    3px 5px 1px rgb(116, 116, 116),
    
    1px 10px 30px rgba( 50, 50, 50, 0.5 ),
    1px 10px 70px rgba( 50, 50, 50, 0.5 ),
    
    0px 5px 5px rgba( 50, 50, 50, 0.5 ),

    /*left shadow*/
    -5px -5px 20px rgba( 50, 50, 50, 0.5 ),

    /*right shadow*/
    5px 5px 20px rgba( 50, 50, 50, 0.5 ),

    /*white light*/
    1px 1px 120px rgba( 250, 250, 250, 0.5 );
  }
  .emboss-txt::after{
    content: "オタク";
    font-size: 10vw;
    font-weight: 550;
    top: 25vh;
    letter-spacing: 5px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    left: 0;
    text-shadow: 0px 0px 100px rgba(0, 153, 255, 0.5);
    animation: cycle 6s linear infinite;
    -webkit-animation: cycle 6s linear infinite;
  }
  .SbTitle {
    position: absolute;
    font-size: 2vw;
    bottom: 0;
    font-family: FuturaLight;
    letter-spacing: 8px;
    color:rgb(255, 255, 255);
  }
  .scroll{
    position: absolute;
    display: flex;
    height: 3vw;
    justify-content: center;
    bottom: 10vh;
    opacity: .8;
    animation: fadeInScroll 6000ms linear normal;
    -webkit-animation: FadeInScroll 6000ms linear normal;
  }
  .scroll2{
    position: absolute;
    display: flex;
    height: 3vw;
    justify-content: center;
    bottom: 10vh;
    opacity: .8;
    animation: fadeInScroll 6000ms linear normal;
    -webkit-animation: FadeInScroll 6000ms linear normal;
  }

  .gradient {
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background: linear-gradient(180deg, rgba(0,0,32,1) 15%, rgba(0,0,32,.4) 60%, rgba(173, 0, 156, 0) 100%);
    position: static;
    z-index: -1;
    animation: FadeInGradient 2500ms linear normal;
    -webkit-animation: FadeInGradient 2500ms linear normal;
  }
  /*---------------------------------
    END TOP SCREEN
  ----------------------------------*/
  #spacer1{
    height: 20vh;
    width: auto;
    color: black;
  }
  .spacer{
    height: 20vh;
    width: auto;
    color: black;
  }
  /*------------------------------------
     INDEX
  ------------------------------------*/
  #gd{
    margin-top: 20vh;
    position: static;
    min-height: 600px;
    height: auto ;
    width: 100vw;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 100px 0px;
  }  
  .container {
    display: block;
    max-width: 80vw;
    min-height: 1px;
    height: auto;
    max-height: 80vh;
    padding: 0 60px 0 40px;
    margin: 0 auto 0 auto;
    box-sizing: border-box;
    background-color: white;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  .column-right {
    height: auto;
    align-items: center;
    justify-content: center;
    position: relative;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin: 35px 0px 35px 0px;
    border-radius: 20px;
  }
  .column-right-2 {
    height: auto;
    align-items: center;
    justify-content: center;
    position: relative;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin: 35px 0px 35px 0px;
    border-radius: 20px;
  }
  .column-left {
    height: auto;
    align-items: center;
    justify-content: center;
    position: relative;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin: 35px 0px 35px 0px;
  }
  .column-left-3 {
    height: auto;
    align-items: center;
    justify-content: center;
    position: relative;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    margin: 35px 0px 35px 0px;
  }
  .column-txt-l{
    margin: 5vw auto auto auto;
    align-items: center;
    justify-content: center;
    position: relative;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 100%;
    background-color: black;
    border-radius: 20px;
    animation: slideLeft 300ms linear normal;
    -webkit-animation: slideLeft 300ms linear normal;
  }
  .column-txt-r{
    margin: 5vw auto auto auto;
    align-items: center;
    justify-content: center;
    position: relative;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 100%;
    background-color: black;
    border-radius: 20px;
    animation: slideRight 300ms linear normal;
    -webkit-animation: slideRight 300ms linear normal;
  }
  .full{
    float: left;
    width: 100%;
  }
  .img-responsive-med-vertic{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 100%;
    border-radius: 15px;
    height: auto;
    max-height: 70vh;
  }
  #Nino{
    animation: slideRight 300ms linear normal;
    -webkit-animation: slideRight 300ms linear normal;
  }
  #Miku{
    animation: slideLeft 300ms linear normal;
    -webkit-animation: slideLeft 300ms linear normal;
  }
  #Chika{
    animation: slideLeft 300ms linear normal;
    -webkit-animation: slideLeft 300ms linear normal;
  }
  .txt-cl {
    top: auto;
    bottom: auto;
    height: auto;
    width: auto;
    font-size: 1.204vw;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0 auto auto 0;
    padding: 20px 15px 35px 35px;
  }
  .go_top{
    position: fixed;
    display: none;
    align-items: center;
    right: 20px;
    bottom: 30px;
    animation:fadeInContent 3000ms linear normal;
    -webkit-animation: fadeInContent 300ms linear normal;
    height: 3vw;
  }
  #White {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
  }

  @keyframes pulse {
    0% { background: rgb(0, 57, 87) }
    40% { background: rgb(60, 0, 120) }
    70% { background: rgb(120, 0, 100) }
    100% { background: rgb(0, 57, 87) }
  }

  @keyframes FadeInContent {
    0% { opacity: 0; }
    35% { opacity: 0; }
    52% { opacity: 1; }
  }
  @keyframes FadeInScroll {
    0% { opacity: 0;}
    70% { opacity: .8; }
  }
  @keyframes FadeInGradient {
    0% { opacity: 0; }
    35% { opacity: 0; }
    50% { opacity: 1; }
  }
  @keyframes cycle {
    0% { text-shadow: 0px 0px 80px rgb(0, 238, 255);}
    30% { text-shadow: 0px 0px 80px rgb(212, 0, 255);}
    66% { text-shadow: 0px 0px 80px rgb(0, 255, 179);}
    88% { text-shadow: 0px 0px 80px rgb(255, 0, 0);}
    100% { text-shadow: 0px 0px 80px rgb(0, 238, 255);}
  }
  @keyframes slideRight{
    0% { transform: translateX( 100px);}
    100% { transform: translateX( 0px);}
  }
  @keyframes slideLeft{
    0% { transform: translateX( -100px);}
    100% { transform: translateX( 0px);}
  }
