  @font-face {
    font-family: BebasNeue;
    src:url(BebasNeue-Regular.otf);
  }
  body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: rgb(173, 0, 156);
    overflow-x: hidden;
    overflow-y: auto;
  }
  .logo {
    position: absolute;
    top: 0px;
    right: 0;
    padding: 20px 30px 0px 0px;
    height: 50px;
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
  }
  .container {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 25%;
    top: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    border-radius: 0 0 0 0;
  }
  .container2{
    height: 100vh;
    width: 90vw;
    position: absolute;
    top: 28%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .emboss-txt {
    position: relative;
    font-size: 120px;
    padding-top: 10px;
    font-family: BebasNeue;
    letter-spacing: 5px;
    color:rgb(255, 255, 255);
    text-shadow:
    0px 0px 1px rgb( 148, 148, 148),
    0px 1px 1px rgb( 148, 148, 148),
    0px 2px 1px rgb( 148, 148, 148),

    1px 1px 1px rgb( 148, 148, 148),
    1px 2px 1px rgb( 148, 148, 148),
    1px 3px 1px rgb( 148, 148, 148),

    2px 2px 1px rgb( 148, 148, 148),
    2px 3px 1px rgb( 148, 148, 148),
    2px 4px 1px rgb( 148, 148, 148),

    3px 3px 1px rgb( 148, 148, 148),
    3px 4px 1px rgb( 148, 148, 148),
    3px 5px 1px rgb( 148, 148, 148),
    
    1px 10px 30px rgba( 50, 50, 50, 0.5 ),
    1px 10px 70px rgba( 50, 50, 50, 0.5 ),
    
    0px 5px 5px rgba( 50, 50, 50, 0.5 ),

    /*left shadow*/
    -5px -5px 20px rgba( 50, 50, 50, 0.5 ),

    /*right shadow*/
    5px 5px 20px rgba( 50, 50, 50, 0.5 ),

    /*white light*/
    1px 1px 120px rgba( 250, 250, 250, 0.5 );
  }
  .emboss-txt::after{
    content: "オタク";
    font-size: 120px;
    padding-top: 10px;
    letter-spacing: 5px;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 0;
    left: 0;
    text-shadow: 0px 0px 100px rgba(0, 153, 255, 0.5);
    animation: cycle 6s linear infinite;
  }
  @keyframes cycle {
    0% { text-shadow: 0px 0px 80px rgb(0, 238, 255);}
    28% { text-shadow: 0px 0px 80px rgb(212, 0, 255);}
    56% { text-shadow: 0px 0px 80px rgb(0, 255, 179);}
    74% { text-shadow: 0px 0px 80px rgb(255, 0, 0);}
    100% { text-shadow: 0px 0px 80px rgb(0, 238, 255);}
  }
  .White {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
  }
  .gradient {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(180deg, rgba(0,0,32,1) 10%, rgba(173, 0, 156, 0) 100%);
  }