  @font-face {
    font-family: BebasNeue;
    src: url("../fonts/BebasNeue-Regular.otf");
  }
  @font-face {
    font-family: FuturaLight;
    src: url("../fonts/FuturaLight.otf");
  }
  @font-face {
    font-family: FuturaMedium;
    src: url("../fonts/futuraMedium.ttf");
  }
  html{
    scroll-behavior: smooth;
    width: 100vw;
    max-width: 100%;
    height: 100vw;
    overflow-x: hidden;
  }
  body {
  background-color: black;
  }
  h1 {
    font-size: 1.4vw;
  }
 .Header{
   height: 10vh;
   width: 100%;
   background-color: grey;
   align-items: center;
   justify-items: center;
 }
 .logo-white{
  position: absolute;
  height: 12vh;
  right: 0;
  top: 1vh;
  filter: brightness(0)invert(1);
}